.scroll-helper{
  position: fixed;
  top: 85px;
  right: 10px;
  width: 102px;
  height: 62px;
  z-index: 99999;
}

.scroll-helper .box{
  position: absolute;
  background: black !important;
  opacity: 0.25;
  text-align: center;
  width: 50px !important;
  height: 30px !important;
  line-height: 30px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.scroll-helper a{
  font-family: "Microsoft YaHei", 'simsun', 'arial' !important;
  color: white !important;
  font-size: 14px !important;
  text-decoration: none !important;
}

.scroll-helper a:hover{
  text-decoration: none !important;
}

.scroll-helper .box.top-box{
  top: 0;
  right: 0;
  border-radius: 0 8px;
}

.scroll-helper .box.bottom-box{
	bottom: 0;
  right: 0;
	border-radius: 8px 0;
}

.scroll-helper .box.prev-box{
	top: 0;
	left: 0;
	border-radius: 8px 0;
}

.scroll-helper .box.next-box{
	bottom: 0;
	left: 0;
	border-radius: 0 8px;
}

.scroll-helper .box.setting-box{
  top: 17.5px;
  left: 38.5px;
  width: 25px !important;
  height: 25px !important;
  line-height: 25px !important;
  border-radius: 12.5px;
  opacity: 0;
}
